html{
    box-sizing: border-box;
}

body{
margin: 0;
  color: #1b1a20;
  font-family: 'Roboto', sans-serif;
}

.main-area{
    display: flex;
}

.size-filter{
    width:20%;
    margin-top: 80px;
}


.inside-area{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-top:80px;
}

.cart{
    position: fixed;
    top:0;
    right:0
}


